/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  background-color: #1b1b1b;
  color: white;
}

header {
  background-color: rgb(48, 48, 48);
  font-size: 18px;
  padding: 0;
  height: 50px;
  display: flex;
  padding-inline: 10px;
  align-items: center;
}
